$black: #191919;
$dark: #202024;
$red: #eb553b;
$red-dark: #c24631;
$grey-lightest: #f5f5f5;
$grey-lighten: #eaeaea;
$grey-dark: #48494e;
$grey-darker: #58585B;
$grey: #999da1;
$silver: #dfe2e6;
$white: #fff;

$main-font: 'Manrope', sans-serif;

// conponent colors
$header-bg-color: #fff;