<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3" />
<script src="https://cdn.jsdelivr.net/npm/@docsearch/js@3"></script>

<div id="search-demo-container">
    <form action="{% link search.md %}" class="quick-search-form">
        <input
            type="text"
            class="search-input"
            placeholder="Search documentation"
        />
    </form>
</div>

<div id="docsearch"></div>

<script type="text/javascript">
    docsearch({
        appId: 'SF7W0R2XNG',
        apiKey: '8cbd2a0a179df1123898430a33e6938b',
        indexName: 'spryker',
        insights: true,
        container: '#docsearch',
        debug: true,
    });
</script>
