<script src="https://cdn.jsdelivr.net/npm/algoliasearch@3/dist/algoliasearchLite.min.js"></script>
<script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>
<script src="/js/algolia-suggestions.js"></script>
{% include search/algolia_config.html %}
<div id="search-demo-container">
    <form action="{% link search.md %}" class="quick-search-form">
        <input type="text" class="search-input" placeholder="Search documentation" />
    </form>
</div>
<script type="text/javascript">
    Suggestions.init(
        searchClient,
        indices,
        {
            searchInput: '.quick-search-form .search-input',
            options: {
                debug: true,
                hitsPerPage: 5,
            }
        },
    );
</script>
