* @VadymSachenko @lenadoc @AlexSlawinski @andriitserkovnyi

/_drafts/oryx/* @andriitserkovnyi
/_drafts/oryx/feature-sets.md @tobi-or-not-tobi @andriitserkovnyi
/_drafts/oryx/dependency-injection/dependency-injection/* @dunqan @andriitserkovnyi
