<footer class="main-footer">
    <div class="main-footer__top">
        <div class="container">
            <div class="main-footer__block">
                <div class="main-footer__column main-footer__column_1">
                    <img src="{{ "/images/logo-footer.svg" }}" alt="Company logo" class="main-footer__logo">
                </div>
                <div class="main-footer__column main-footer__column_2">
                    <nav class="main-footer__nav">
                        <ul>
                            <li><a target="_blank" href="https://documentation.spryker.com/docs/release-notes">Release Notes</a></li>
                            <li><a target="_blank" href="https://spryker.force.com/support/s/">Support</a></li>
                            <li><a target="_blank" href="https://spryker.com/en/events/">Events</a></li>
                            <li><a target="_blank" href="https://academy.spryker.com/learn">Spryker Academy</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="main-footer__column main-footer__column_3">
                    <ul class="main-footer__socials">
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-instagram"></i></a></li>
                        <li><a href="#"><i class="icon-youtube"></i></a></li>
                        <li><a href="#"><i class="icon-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="main-footer__bottom">
        <div class="container">
            <div class="main-footer__bottom-block">
                <div class="main-footer__bottom-column">
                    <p class="copyright">&copy;{{ site.time | date: "%Y"  }} - {{site.company_name}} Systems GmbH</p>
                </div>
                <div class="main-footer__bottom-column">
                    <ul class="main-footer__links">
                        <li><a href="mailto:documentation@spryker.com"><i class="icon-email"></i>documentation@spryker.com</a></li>
                        <li><a href="#"><i class="icon-location"></i>Heidestraße 9-10, 10557 Berlin</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
