<footer class="main-footer">
    <div class="main-footer__top">
        <div class="container">
            <div class="main-footer__block">
                <div class="main-footer__column main-footer__column_1">
                    <img src="{{ "/images/logo-footer.svg" }}" alt="Company logo" class="main-footer__logo" width="136" height="54">
                </div>
                <div class="main-footer__column main-footer__column_2">
                    <nav class="main-footer__nav">
                        <ul>
                            <li><a target="_blank" rel="noopener" href="https://docs.spryker.com/docs/about/all/releases/product-and-code-releases.html">Release Notes</a></li>
                            <li><a target="_blank" rel="noopener" href="https://support.spryker.com">Support</a></li>
                            <li><a target="_blank" rel="noopener" href="https://spryker.com/en/events/">Events</a></li>
                            <li><a target="_blank" rel="noopener" href="https://safari.spryker.com">Spryker Safari</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="main-footer__column main-footer__column_3">
                    <ul class="main-footer__socials">
                        <li><a target="_blank" rel="noopener" href="https://www.facebook.com/Spryker/" aria-label="facebook"><i class="icon-facebook"></i></a></li>
                        <li><a target="_blank" rel="noopener" href="https://twitter.com/sprysys?lang=en" aria-label="twitter"><i class="icon-twitter"></i></a></li>
                        <li><a target="_blank" rel="noopener" href="https://www.instagram.com/spryker/" aria-label="instagram"><i class="icon-instagram"></i></a></li>
                        <li><a target="_blank" rel="noopener" href="https://www.youtube.com/channel/UC6lVOEbqXxUh0W5FMTvlPDQ" aria-label="youtube"><i class="icon-youtube"></i></a></li>
                        <li><a target="_blank" rel="noopener" href="https://www.linkedin.com/company/spryker-systems-gmbh/" aria-label="linkedin"><i class="icon-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="main-footer__bottom">
        <div class="container">
            <div class="main-footer__bottom-block">
                <div class="main-footer__bottom-column">
                    <p class="copyright">&copy;{{ site.time | date: "%Y"  }} - {{site.company_name}} Systems GmbH</p>
                </div>
                <div class="main-footer__bottom-column">
                    <ul class="main-footer__links">
                        <li><a href="mailto:documentation@spryker.com"><i class="icon-email"></i>documentation@spryker.com</a></li>
                        <li><a href="#"><i class="icon-location"></i>Heidestraße 9-10, 10557 Berlin</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
