{% assign item = include.item %}

{% if page.version %}
    {% assign current_version = page.version %}
{% else %}
    {% assign current_version = site.version %}
{% endif %}

{% assign sidebar_item_url = item.url | versionize: current_version %}

{% unless item.exclude_versions contains current_version -%}
{% if item.include_versions.size == nil or item.include_versions contains current_version %}
{% if sidebar_item_url == null %}
<li>
    <a href="#" class="sidebar-nav__opener">
        <i class="icon-arrow-right"></i>
        <strong class="sidebar-nav__title">{{item.title}}</strong>
    </a>
{% elsif page.url == sidebar_item_url %}
<li class="active-page-item">
    {% if item.url and item.nested %}
        <a title="{{item.title}}" href="#" class="sidebar-nav__opener sidebar-nav__link {% if item.url and item.nested %}sidebar-nav__link--shifted{% endif %}">
            <i class="icon-arrow-right"></i>
            <strong class="sidebar-nav__title">{{item.title}}</strong>
        </a>
    {% else %}
        <a title="{{item.title}}" href="{{sidebar_item_url}}" class="sidebar-nav__link {% if item.url and item.nested %}sidebar-nav__link--shifted{% endif %}">{{item.title}}</a>
    {% endif %}
{% else %}
<li>
    <a title="{{item.title}}" href="{{sidebar_item_url}}" class="sidebar-nav__link {% if item.url and item.nested %}sidebar-nav__link--shifted{% endif %}">{{item.title}}</a>
    {% if item.url and item.nested %}
        <a href="#" class="sidebar-nav__opener sidebar-nav__opener--small">
            <i class="icon-arrow-right"></i>
        </a>
    {% endif %}
{% endif %}
{% if item.nested %}
    <ul>
    {% for nested_item in item.nested %}
        {% include sidebar_item.html item=nested_item %}
    {% endfor %}
    </ul>
{% endif %}
</li>
{% endif %}
{% endunless %}
