{% if include.item.url == null and include.item.external_url == null %}
<li>
    <a href="#" class="sidebar-nav__opener">
        <i class="icon-arrow-right"></i>
        <strong class="sidebar-nav__title">{{include.item.title}}</strong>
    </a>
{% elsif include.item.external_url %}
<li>
    <a title="{{include.item.title}}" href="{{include.item.external_url}}" target="_blank" rel="noopener" class="sidebar-nav__link">{{include.item.title}}</a>
{% elsif page.url == include.item.url %}
<li class="active">
    <a title="{{include.item.title}}" href="{{include.item.url}}" class="sidebar-nav__link">{{include.item.title}}</a>
{% else %}
<li>
    <a title="{{include.item.title}}" href="{{include.item.url}}" class="sidebar-nav__link">{{include.item.title}}</a>
{% endif %}
{% if include.item.nested %}
    <ul>
    {% for nested_item in include.item.nested %}
        {% include sidebar_item.html item=nested_item %}
    {% endfor %}
    </ul>
{% endif %}
</li>
