<!-- Navigation -->
<header class="main-header">
    <div class="main-header__bg">
        <div class="container">
            <div class="main-header__inner">
                <div class="main-header__left">
                    <div class="main-header__left-inner">
                        <div class="main-header__meta">
                            <strong class="main-header__meta-title">{{ page.title }}</strong>
                            <div class="main-header__meta-subtitle">Last updated: <time datetime="">{% if page.last_updated %} {{ page.last_updated | date: "%B %-d, %Y" }} {% else %} {{ page.last_modified_at | date: "%B %-d, %Y" }} {% endif %}</time></div>
                        </div>

                        <strong class="main-header__logo">
                            <a href="/">
                                <img src="{{ "/images/logo.svg" }}" alt="Spryker Documentation" width="155" height="64">
                            </a>
                        </strong>

                        <div class="nav-popup">
                            <div class="nav-popup__inner">
                                <div class="nav-popup__header">
                                    <a href="/feed.xml" class="button nav-popup__header-button button--small">
                                        <i class="icon-rss"></i>
                                        RSS
                                    </a>
                                </div>
                                <div class="nav-popup__content">
                                    <div class="main-nav dropdown">
                                        <a href="/" class="main-nav__opener {% if page.layout == 'home' %}main-nav__opener--grey{% endif %} nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="main-nav__opener-label">Select a guide</span>
                                            <span class="main-nav__opener-text">
                                                {% if page.product == 'dg' and page.role == 'dev' %}
                                                Development
                                                {% elsif page.product == 'pbc' and page.role == 'all' %}
                                                Packages Business Capabilities
                                                {% elsif page.product == 'ca' and page.role == 'dev' %}
                                                Managing cloud applications
                                                {% elsif page.product == 'ca' and page.role == 'devscu' %}
                                                Upgrading cloud applications
                                                {% elsif page.product == 'about' and page.role == 'all' %}
                                                About Spryker
                                                {% elsif page.product == 'integrations' and page.role == 'all' %}
                                                Spryker Integrations
                                                {% else %}
                                                Select a guide
                                                {% endif %}
                                            </span>
                                            <i class="main-nav__opener-icon icon-arrow-down"></i>
                                        </a>
                                        <ul class="main-nav__drop main-nav__drop--mob-static dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                          <li>
                                              <a href="/docs/dg/dev/development-getting-started-guide.html" class="main-nav__drop-link">
                                              Development
                                              </a>
                                          </li>
                                          <li>
                                                <a href="/docs/integrations/integration.html" class="main-nav__drop-link">
                                                Spryker Integrations
                                                </a>
                                            </li>
                                          <li>
                                              <a href="/docs/pbc/all/pbc.html" class="main-nav__drop-link">
                                              Packaged Business Capabilities
                                              </a>
                                          </li>
                                          <li>
                                              <a href="/docs/about/all/about-spryker.html" class="main-nav__drop-link">
                                              About Spryker
                                              </a>
                                          </li>
                                            <li class="dropdown">
                                                <a href="/" class="main-nav__drop-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Cloud administration
                                                    <i class="main-nav__drop-link-arrow icon-arrow-right"></i>
                                                </a>
                                                <ul class="main-nav__drop dropdown-menu">
                                                    <li>
                                                        <a href="/docs/ca/dev/getting-started-with-cloud-administration.html" class="main-nav__drop-link">
                                                            <span class="main-nav__drop-link-title">
                                                                <i class="icon-cloud"></i>
                                                                Cloud admin
                                                            </span>
                                                            <span class="main-nav__drop-link-subtitle">Manage applications</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/docs/ca/devscu/spryker-code-upgrader.html" class="main-nav__drop-link">
                                                            <span class="main-nav__drop-link-title">
                                                                <i class="icon-cloud"></i>
                                                                Cloud admin
                                                            </span>
                                                            <span class="main-nav__drop-link-subtitle">Upgrade applications</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="nav-popup__footer"></div>
                            </div>
                        </div>
                    </div>


                    {% if page.url != "/index.html" and page.url != "/search/" %}
                        <div class="search-section-panel search-section-panel--secondary main-header__search">
                            {% include search/{{ site.search | default "default" }}-quicksearch.html %}
                        </div>
                    {% endif %}

                </div>
                <div class="main-header__right">
                    {% if page.url != "/index.html" and page.url != "/search/" %}
                        <div class="header-switcher">
                            {% if site.github_editme_path %}
                                <a target="_blank" rel="noopener" href="https://github.com/{{site.github_editme_path}}{{page.path}}" class="button main-header__button button--small header-switcher__sticky" role="button"><i class="icon-github"></i> Edit on GitHub</a>
                            {% endif %}
                            <a href="/feed.xml" class="button main-header__button button--small header-switcher__default">
                                <i class="icon-rss"></i>
                                RSS
                            </a>
                        </div>
                        {% else %}
                        <a href="/feed.xml" class="button main-header__button button--small">
                            <i class="icon-rss"></i>
                            RSS
                        </a>
                    {% endif %}

                    <a href="#" class="nav-opener" aria-label="navigation popup opener">
                        <span class="nav-opener__top"></span>
                        <span class="nav-opener__center"></span>
                        <span class="nav-opener__bottom"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
