<!-- Navigation -->
<header class="main-header">
    <div class="main-header__bg">
        <div class="container">
            <div class="main-header__inner">
                <div class="main-header__left">
                    <div class="main-header__left-inner">
                        <div class="main-header__meta">
                            <strong class="main-header__meta-title">{{ page.title }}</strong>
                            <div class="main-header__meta-subtitle">Last updated: <time datetime="">{% if page.last_updated %} {{ page.last_updated | date: "%B %-d, %Y" }} {% else %} {{ page.last_modified_at | date: "%B %-d, %Y" }} {% endif %}</time></div>
                        </div>

                        <strong class="main-header__logo">
                            <a href="/">
                                <img src="{{ "/images/logo.svg" }}" alt="Spryker Documentation" width="155" height="64">
                            </a>
                        </strong>

                        <div class="nav-popup">
                            <div class="nav-popup__inner">
                                <div class="nav-popup__header">
                                    <a href="/feed.xml" class="button nav-popup__header-button button--small">
                                        <i class="icon-rss"></i>
                                        RSS
                                    </a>
                                </div>
                                <div class="nav-popup__content">
                                    <div class="main-nav dropdown">
                                        <a href="/" class="main-nav__opener {% if page.layout == 'home' %}main-nav__opener--grey{% endif %} nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="main-nav__opener-label">Select Product</span>
                                            <span class="main-nav__opener-text">
                                                {% if page.product == 'marketplace' and page.role == 'dev' %}
                                                Marketplace developer guide
                                                {% elsif page.product == 'marketplace' and page.role == 'user' %}
                                                Marketplace users guide
                                                {% elsif page.product == 'cloud' and page.role == 'dev' %}
                                                Spryker Cloud Commerce OS
                                                {% elsif page.product == 'scos' and page.role == 'dev' %}
                                                SCOS developer guide
                                                {% elsif page.product == 'scos' and page.role == 'user' %}
                                                SCOS users guide
                                                {% elsif page.product == 'frontend-enablement-service' and page.role == 'dev' %}
                                                Frontend enablement Service
                                                {% elsif page.product == 'platform-as-a-service-plus' and page.role == 'dev' %}
                                                Platform as a Service Plus
                                                {% else %}
                                                Select Product
                                                {% endif %}
                                            </span>
                                            <i class="main-nav__opener-icon icon-arrow-down"></i>
                                        </a>
                                        <ul class="main-nav__drop main-nav__drop--mob-static dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                            <li class="dropdown">
                                                <a href="/" class="main-nav__drop-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Spryker Commerce OS
                                                    <i class="main-nav__drop-link-arrow icon-arrow-right"></i>
                                                </a>
                                                <ul class="main-nav__drop dropdown-menu">
                                                    <li>
                                                        <a href="/docs/scos/dev/developer-getting-started-guide.html" class="main-nav__drop-link">
                                                            <span class="main-nav__drop-link-title">
                                                                <i class="icon-developer"></i>
                                                                Developer
                                                            </span>
                                                            <span class="main-nav__drop-link-subtitle">SCOS developer guide</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/docs/scos/user/intro-to-spryker/about-spryker.html" class="main-nav__drop-link">
                                                            <span class="main-nav__drop-link-title">
                                                                <i class="icon-business"></i>
                                                                Business User
                                                            </span>
                                                            <span class="main-nav__drop-link-subtitle">SCOS users guide</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="dropdown">
                                                <a href="/" class="main-nav__drop-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Marketplace
                                                    <i class="main-nav__drop-link-arrow icon-arrow-right"></i>
                                                </a>
                                                <ul class="main-nav__drop dropdown-menu">
                                                    <li>
                                                        <a href="/docs/marketplace/dev/setup/system-requirements.html" class="main-nav__drop-link">
                                                            <span class="main-nav__drop-link-title">
                                                                <i class="icon-developer"></i>
                                                                Developer
                                                            </span>
                                                            <span class="main-nav__drop-link-subtitle">Marketplace developer guide</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/docs/marketplace/user/intro-to-the-spryker-marketplace/marketplace-concept.html" class="main-nav__drop-link">
                                                            <span class="main-nav__drop-link-title">
                                                                <i class="icon-business"></i>
                                                                Business User
                                                            </span>
                                                            <span class="main-nav__drop-link-subtitle">Marketplace users guide</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="/docs/cloud/dev/spryker-cloud-commerce-os/getting-started-with-the-spryker-cloud-commerce-os.html" class="main-nav__drop-link">
                                                Spryker Cloud Commerce OS
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/docs/fes/dev/front-end-enablement-service.html" class="main-nav__drop-link">
                                                Frontend enablement Service
                                                </a>
                                            </li>
                                            <!-- <li>
                                                <a href="/docs/paas-plus/dev/setup/system-requirements.html" class="main-nav__drop-link">
                                                Platform as a Service Plus
                                                </a>
                                            </li> -->
                                        </ul>
                                    </div>
                                </div>
                                <div class="nav-popup__footer"></div>
                            </div>
                        </div>
                    </div>


                    {% if page.url != "/index.html" and page.url != "/search/" %}
                        <div class="search-popup">
                            <div class="search-popup__inner">
                                <div class="search-popup__content">
                                    <a href="#" class="search-popup__close js-search-popup-close" aria-label="search popup close"><i class="icon-arrow-left"></i></a>
                                    <div class="main-header__search">
                                        <i class="main-header__search-icon icon-search"></i>
                                        {% include search/{{ site.search | default "default" }}_quicksearch.html %}
                                    </div>
                                </div>
                                <div class="search-popup__footer">
                                    <a href="/search" class="search-popup__more">Show all results</a>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                </div>
                <div class="main-header__right">
                    {% if page.url != "/search/" %}
                        <a href="#" class="main-header__search-opener js-search-popup-opener" aria-label="search popup opener"><i class="icon-search"></i></a>
                    {% endif %}

                    {% if page.url != "/index.html" and page.url != "/search/" %}
                        <div class="header-switcher">
                            {% if site.github_editme_path %}
                                <a target="_blank" rel="noopener" href="https://github.com/{{site.github_editme_path}}{{page.path}}" class="button main-header__button button--small header-switcher__sticky" role="button"><i class="icon-github"></i> Edit on GitHub</a>
                            {% endif %}
                            <a href="/feed.xml" class="button main-header__button button--small header-switcher__default">
                                <i class="icon-rss"></i>
                                RSS
                            </a>
                        </div>
                        {% else %}
                        <a href="/feed.xml" class="button main-header__button button--small">
                            <i class="icon-rss"></i>
                            RSS
                        </a>
                    {% endif %}

                    <a href="#" class="nav-opener" aria-label="navigation popup opener">
                        <span class="nav-opener__top"></span>
                        <span class="nav-opener__center"></span>
                        <span class="nav-opener__bottom"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
