<div class="alt-nav dropdown">
    <span class="alt-nav__opener nav-link dropdown-toggle" id="versionDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="alt-nav__opener-text">For older versions, see the <a href="https://docs-archive.spryker.com/" class="alt-nav__link">docs archive</a></span>
        <i class="alt-nav__opener-icon icon-arrow-down"></i>
    </span>
    <span class="alt-nav__opener-label">Versions</span>
</div>
<div class="alt-nav__overlay"></div>
