<div class="alt-nav dropdown">
    <div class="alt-nav__opener nav-link" id="versionDropdownMenuLink">
        <div class="alt-nav__opener-text">
            For older versions, see the 
            <a href="#" onclick="redirectToArchive()" class="alt-nav__link" target="_blank" rel="noopener">
                docs archive &#8599;
            </a>
        </div>
        <i class="alt-nav__opener-icon icon-arrow-down"></i>
    </div>
    <span class="alt-nav__opener-label">Versions</span>
</div>
<div class="alt-nav__overlay"></div>

<script>
    function redirectToArchive() {
        const path = window.location.pathname;
        const archiveUrl = 'https://docs-archive.spryker.com' + path;
        window.open(archiveUrl, '_blank');
    }
</script>
