<div class="alt-nav dropdown">
    <div class="alt-nav__opener nav-link" id="versionDropdownMenuLink">
        <div class="alt-nav__opener-text">
            Current version: {{page.release_tag}}</br>For older versions, see the
            <a href="https://docs-archive.spryker.com" onclick="redirectToArchive(event)" class="alt-nav__link" target="_blank" rel="noopener">
                docs archive
                <svg class="alt-nav__icon" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M18 13v6a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"/>
                    <polyline points="15 3 21 3 21 9"/>
                    <line x1="10" y1="14" x2="21" y2="3"/>
                </svg>
            </a>
        </div>
    </div>
    <span class="alt-nav__opener-label">Versions</span>
</div>
<div class="alt-nav__overlay"></div>

{% if page.all_versions.size > 1 %}
    <div class="alt-nav dropdown">
        <span class="alt-nav__opener nav-link dropdown-toggle" id="versionDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="alt-nav__opener-text">{{ current_version_label }}</span>
            <i class="alt-nav__opener-icon icon-arrow-down"></i>
        </span>
        <span class="alt-nav__opener-label">Versions</span>
        <ul class="alt-nav__drop dropdown-menu" aria-labelledby="versionDropdownMenuLink">
            {% for version in page.all_versions %}
                {% if site.versions[version.version] %}
                <li><a href="{{ site.baseurl }}{{ version.url }}">{{ site.versions[version.version] }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="alt-nav__overlay"></div>
{% else %}
    <div class="alt-nav">
        <span class="alt-nav__opener">This document has only one version {{ current_version_label }}</span>
    </div>
{% endif %}
