.post-content {
    h1, h2, h3, h4, h5, h6 {
        color: rgb(72, 73, 78);
        font-weight: bold;
        margin: 0 0 16px;
    }

    h1 {
        font-size: 38px;
        line-height: 1.369;
    }

    h2 {
        font-size: 28px;
        font-weight: 600;
    }
}

.post-header {
    display: flex;
    align-items: flex-start;

    &__title {
        flex: 1 1 auto;
    }

    &__button {
        flex: 0 0 auto;
        margin: 0 0 0 20px;

        &:after {
            content: none !important;
        }
    }
}
