@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?huxsqd');
    src:  url('../fonts/icomoon.eot?huxsqd#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?huxsqd') format('truetype'),
      url('../fonts/icomoon.woff?huxsqd') format('woff'),
      url('../fonts/icomoon.svg?huxsqd#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

%icon,
[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
    content: "\e910";
}
.icon-arrow-down:before {
    content: "\e90c";
}
.icon-arrow-up:before {
    content: "\e90d";
}
.icon-arrow-left:before {
    content: "\e90e";
}
.icon-arrow-right:before {
    content: "\e90f";
}
.icon-error:before {
    content: "\e911";
}
.icon-info:before {
    content: "\e912";
}
.icon-note:before {
    content: "\e913";
}
.icon-business:before {
    content: "\e900";
}
.icon-cloud:before {
    content: "\e901";
}
.icon-developer:before {
    content: "\e902";
}
.icon-email:before {
    content: "\e903";
}
.icon-facebook:before {
    content: "\e904";
}
.icon-instagram:before {
    content: "\e905";
}
.icon-linkedin:before {
    content: "\e906";
}
.icon-location:before {
    content: "\e907";
}
.icon-rss:before {
    content: "\e908";
}
.icon-search:before {
    content: "\e909";
}
.icon-twitter:before {
    content: "\e90a";
}
.icon-youtube:before {
    content: "\e90b";
}
