.search-section {
    background: $darkest url('../images/search-section-bg.jpg') no-repeat #{50% 50%/cover};
    color: $white;
    padding: 82px 0 100px;

    &__title {
        font-size: 38px;
        line-height: 52px;
        font-weight: 800;
        margin: 0 0 1em;
        text-align: center;
        letter-spacing: -0.02em;
    }

    &__panel {
        max-width: 614px;
        margin: 0 auto;
        position: relative;
        position: relative;
        z-index: 3;

        &-icon {
            position: absolute;
            z-index: 2;
            pointer-events: none;
            color: $white;
            font-size: 16px;
            top: 20px;
            left: 5px;
        }

        input[type="text"],
        input[type="search"] {
            display: block;
            height: 56px;
            width: 100%;
            padding: 17px 40px;
            border: 1px solid transparent;
            border-bottom-color: $grey-darker;
            font-size: 16px;
            line-height: 20px;
            font-weight: 500;
            color: $grey-lighten;
            background: transparent !important;
            outline: none;
            outline-width: 0;
            letter-spacing: .02em;
            transition: color .2s linear, background .2s linear, border-color .2s linear;

            // placeholder  #48494e
            &:focus {
                border-bottom-color: $grey-lighten;
                color: $grey-lighten;
            }
        }
    }
}
