.hidden-item {
    position: fixed;
    top: -9999px;
}

.overflow {
    overflow: hidden;
}

.mobile-overflow {
    @include media("<tablet") {
        overflow: hidden;
    }
}

.tablet-overflow {
    @include media("<desktop") {
        overflow: hidden;
    }
}

.mobile-hidden {
    @include media("<tablet") {
        display: none !important;
    }
}

.tablet-hidden {
    @include media("<desktop") {
        display: none !important;
    }
}

.tablet-show {
    display: none !important;

    @include media("<desktop") {
        display: block !important;
    }
}

.desktop-hidden {
    @include media("<laptop") {
        display: none !important;
    }
}

.hidden {
    display: none !important;
}
