.alt-nav {
    position: relative;
    margin: 0 0 16px;

    &:hover {
        .alt-nav__drop {
            display: block;
        }
    }

    &__opener {
        display: block;
        color: $darkest;
        background: $header-bg-color;
        border: 2px solid $grey-lighten;
        font-size: 12px;
        line-height: 1.4;
        font-weight: 800;
        padding: 13px 14px;
        text-decoration: none;
        position: relative;
        z-index: 2;
        transition: background .2s linear, border-radius .2s linear, border-color .2s linear;
        cursor: pointer;
        letter-spacing: .02em;

        &-label {
            font-size: 9px;
            line-height: 12px;
            background: $header-bg-color;
            color: $grey-6;
            position: absolute;
            top: -7px;
            left: 13px;
            z-index: 2;
            flex: none;
            text-transform: uppercase;
            letter-spacing: .05em;
            padding: 0 5px;
        }
    }

    &__drop {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 12px;
        line-height: 16px;
        font-weight: 800;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: $white;
        border-radius: 4px;
        box-shadow: 0px 1px 0px 0px rgba($black, 0.03),
        0px 3px 8px 0px rgba($black, 0.08),
        0px 20px 40px 0px rgba($black, 0.08);
        display: none;

        a {
            display: block;
            padding: 13px 40px 13px 30px;
            color: $darkest;
            text-decoration: none;
            &:hover,
            &:active,
            &:focus {
                background: $grey-lightest;
                text-decoration: none;
                color: $darkest;
            }

            &:focus {
                text-decoration: none;
                outline-color: $red;
            }
        }
    }
}
