.main-footer {
    margin: 0;
    flex: none;

    a {
        transition: color .3s linear;
        outline-offset: 4px;
        text-decoration: none;

        &[href^="http://"]:after,
        &[href^="https://"]:after {
            content: none;
        }
    }

    &__bottom {
        background: $grey-lightest;
        color: $grey-5;
        padding: 13px 0;
        font-size: 10px;
        line-height: 1.4;

        @include media("<desktop") {
            padding: 12px 0;
        }

        @include media("<tablet") {
            padding: 25px 0;
        }

        p {
            margin: 0;
        }

        &-block {
            display: flex;
            justify-content: space-between;
            align-items: center;

            @include media("<tablet") {
                flex-direction: column;
            }
        }

        &-column {
            max-width: 50%;

            @include media("<desktop") {
                max-width: 100%;
            }

            @include media("<tablet") {
                width: 100%;
            }

            &:first-child {
                @include media("<tablet") {
                    order: 2;
                }
            }

            &:nth-child(2) {
                @include media("<tablet") {
                    order: 1;
                }
            }
        }
    }

    &__links {
        margin: 0;
        padding: 0 55px 0 0;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 12px;
        line-height: 1.5;
        font-weight: 600;
        letter-spacing: .02em;

        @include media("<widescreen") {
            padding: 0;
        }

        @include media("<tablet") {
            display: block;
            text-align: center;
            margin: 0 0 30px;
        }

        li {
            margin: 0 0 0 30px;

            @include media("<tablet") {
                margin: 0 0 13px;
            }
        }

        a {
            display: inline-flex;
            vertical-align: top;
            align-items: center;
            color: $grey;

            &:hover,
            &:active {
                color: $darkest;
                text-decoration: none;
            }

            &:focus {
                outline-color: $red;
                text-decoration: none;
            }

            [class*="icon-"] {
                font-size: 1.6em;
                margin: 0 .5em 0 0;
            }
        }
    }

    .copyright {
        font-weight: bold;

        @include media("<tablet") {
            text-align: center;
        }
    }

    &__top {
        background: $white;
        padding: 18px 0;

        @include media("<desktop") {
            padding: 24px 0 0;
        }

        @include media("<tablet") {
            background: none;
        }
    }

    &__block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1400px;
        margin: 0 auto;

        @include media("<desktop") {
            flex-wrap: wrap;
        }

        @include media("<tablet") {
            display: block;
        }
    }

    &__column {
        flex: 0 0 auto;
        min-width: 250px;

        @include media("<widescreen") {
            min-width: 0;
        }

        &_1 {
            flex: 1 1 auto;
            padding: 0 20px 0 0;

            @include media("<widescreen") {
                flex: 0 0 auto;
            }

            @include media("<desktop") {
                padding: 0 20px 10px 0;
            }

            @include media("<tablet") {
                padding: 0 0 10px;
            }
        }

        &_2 {
            flex: 1 1 auto;

            @include media("<desktop") {
                flex: 0 0 auto;
                width: calc(100% - 200px);
                padding: 0 0 10px;
            }

            @include media("<tablet") {
                width: auto;
                margin: 0 -16px;
            }
        }

        &_3 {
            flex: 1 1 auto;
            padding: 0 0 0 20px;

            @include media("<widescreen") {
                padding: 0;
                flex: 0 0 auto;
            }

            @include media("<desktop") {
                border-top: 1px solid $grey-3;
                flex: 1 0 auto;
                margin: 0 -24px;
                padding: 20px 24px 10px;
            }

            @include media("<tablet") {
                margin: 0;
                border: 0;
                padding: 20px 16px;
            }
        }
    }

    &__logo {
        display: block;
        width: 136px;
        height: auto;
        margin: 0 0 10px;

        @include media("<tablet") {
            margin: 0 0 5px;
        }
    }

    &__nav {
        text-align: center;

        @include media("<desktop") {
            display: flex;
            justify-content: flex-end;
            text-align: right;
        }

        @include media("<tablet") {
            display: block;
            text-align: left;
        }

        ul {
            margin: 0 auto;
            padding: 0;
            list-style: none;
            display: inline-flex;
            vertical-align: top;
            justify-content: space-between;
            flex-wrap: wrap;
            font-size: 12px;
            line-height: 1.6667;
            font-weight: 600;
            letter-spacing: .02em;
            min-width: 600px;
            max-width: 100%;

            @include media("<widescreen") {
                justify-content: space-around;
                min-width: 0;
            }

            @include media("<desktop") {
                justify-content: space-between;
                flex: 1 0 auto;
            }

            @include media("<tablet") {
                display: block;
                border-bottom: 1px solid $grey-3;
            }
        }

        li {
            padding: 15px 10px;

            @include media("<desktop") {
                padding: 10px 0 10px 10px;
            }

            @include media("<tablet") {
                border-top: 1px solid $grey-3;
                padding: 5px 16px;
            }

        }

        a {
            color: $grey;
            transition: color .3s linear;
            display: inline-block;
            vertical-align: top;
            padding: 5px 0;

            &:hover,
            &:active {
                color: $darkest;
                text-decoration: none;
            }
            &:focus {
                text-decoration: none;
                outline-color: $red;
            }

            @include media("<tablet") {
                padding: 10px 0;
            }
        }
    }

    &__socials {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        @include media("<desktop") {
            justify-content: center;
        }

        li {
            margin: 0 0 0 25px;

            @include media("<desktop") {
                margin: 0 20px 10px;
            }

            @include media("<tablet") {
                margin: 0 14px 10px;
            }

        }

        a {
            color: $grey;
            font-size: 0;

            @include media("<tablet") {
                color: $grey-5;
            }

            &:hover,
            &:active {
                color: $darkest;
                text-decoration: none;
            }
            &:focus {
                text-decoration: none;
                outline-color: $red;
            }
        }

        [class*="icon-"] {
            display: block;
            font-size: 15px;

            @include media("<tablet") {
                font-size: 20px;
            }
        }
        .icon-youtube {
            font-size: 17px;

            @include media("<tablet") {
                font-size: 22px;
            }
        }
        .icon-facebook {
            font-size: 15px;

            @include media("<tablet") {
                font-size: 18px;
            }
        }
    }
}
