.main-sidebar {
    padding-top: 40px;
    transition: transform $transition-base;
    position: relative;

    @include media("<laptop") {
        padding-top: 20px;
    }

    &::before {
        @include media(">desktop") {
            position: absolute;
            content: '';
            bottom: 100%;
            left: 0;
            width: 100%;
            background: $grey-lightest;
            height: 50px;
        }
    }

    @include media("<desktop") {
        padding: 5px 24px;
        display: flex;
        flex-direction: row;
        align-items: center;
        position: sticky;
        top: 78px;
        left: 0;
        width: 100%;
        z-index: 3;
        min-height: 50px;
    }

    @include media("<tablet") {
        top: 64px;
        padding: 5px 16px;
    }

    .main-sidebar-opened & {
        @include media("<desktop") {
            position: static;
            z-index: auto;
        }
    }

    .scroll-down & {
        @include media("<desktop") {
            transform: translateY(-128px);
        }
        @include media("<tablet") {
            transform: translateY(-114px);
        }
    }

    .toc-active & {
        @include media("<tablet") {
            transform: translateY(0);
        }
    }

    &-opened {
        @include media("<desktop") {
            overflow: hidden;
        }
    }

    &__sticky {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;

        @include media(">desktop") {
            position: sticky;
            top: $header-min-height-desktop;
            left: 0;
            height: calc(100vh - #{$header-min-height-desktop + $header-content-gap-desktop});
            flex-direction: column;
        }

        @include media(">laptop") {
            top: $header-min-height-widescreen;
            height: calc(100vh - #{$header-min-height-widescreen + $header-content-gap-widescreen});
        }
    }

    &__opener {
        position: absolute;
        z-index: 3;
        top: 46px;
        right: 0;
        margin: 0 -20px 0 0;
        padding: 7px;
        width: 39px;
        height: 39px;
        border-radius: 50%;
        background: $grey-lighten;
        text-decoration: none;
        border: 2px solid $grey-lighten;
        flex: 0 0 auto;

        @include media("<laptop") {
            top: 25px;
        }

        @include media("<desktop") {
            position: static;
            margin: 0 0 0 15px;
        }

        &:hover {
            border-color: $silver;
        }

        &-decorator {
            display: block;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            margin: 0 auto 3px 0;
            background: $grey;
            box-shadow: 8px 0 $grey, 16px 0 $grey;
        }
    }

    &__popup {
        @include media("<desktop") {
            width: auto;
            display: none;
            position: fixed;
            z-index: 2001;
            background: $white;
            top: 0;
            right: 0;
            height: 100%;
            width: 100%;
        }

        @include media(">=desktop") {
            display: block !important;
            opacity: 1 !important;
            flex: 1 1 auto;
            overflow: hidden;
            padding-bottom: 20px;
        }
    }

    &__inner {
        flex: 1 1 auto;
        overflow: hidden;
        width: 310px;
        transition: width $transition-base;

        @include media("<laptop") {
            width: 270px;
        }

        @include media("<desktop") {
            height: 100%;
            display: flex;
            flex-direction: column;
            width: 100%;
            transition: none;
        }

        @include media(">=desktop") {
            height: 100%;
        }
    }

    &__slide {
        transition: transform $transition-base, opacity $transition-base;
        width: 310px;

        @include media("<laptop") {
            width: 270px;
        }

        @include media("<desktop") {
            width: auto;
            flex: 1 1 auto;
            overflow: auto;
            width: 100%;
        }

        @include media(">=desktop") {
            overflow-x: auto;
            height: 100%;

            &::-webkit-scrollbar {
                width: 10px;
            }

            &::-webkit-scrollbar-track {
                background-color: $grey-lighten;
                border-radius: 4px;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 4px;
                background: $grey;
            }

            scrollbar-color: $grey $grey-lighten;
            scrollbar-width: thin;
        }

        .main-sidebar__title {
            @include media("<desktop") {
                padding: 14px 16px;
                font-size: 20px;
            }
        }
    }

    &--collapsed {
        .main-sidebar__title-wrapper,
        .main-sidebar__inner {
            @include media(">=desktop") {
                width: 40px;
            }
        }

        .main-sidebar__title,
        .main-sidebar__slide {
            @include media(">=desktop") {
                opacity: 0;
                transform: translateX(-100%);
            }
        }
    }

    &__title {
        font-size: 20px;
        line-height: 1.4;
        font-weight: 800;
        color: $grey-dark;
        margin: 10px 10px 25px 25px;
        flex: 0 0 auto;
        width: 275px;
        transition: transform $transition-base, opacity $transition-base;

        @include media("<laptop") {
            width: 235px;
            font-size: 18px;
        }

        @include media("<desktop") {
            margin: 0;
            font-size: 16px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
        }

        &-wrapper {
            flex: 0 0 auto;
            overflow: hidden;
            width: 310px;
            transition: width $transition-base;

            @include media("<laptop") {
                width: 270px;
            }

            @include media("<desktop") {
                width: auto;
                transition: none;
                flex: 1 1 auto;
            }
        }
    }

    &__header {
        display: none;

        @include media("<desktop") {
            display: flex;
            background: $grey-lightest;
            justify-content: flex-end;
            padding: 16px 24px;
            flex: 0 0 auto;
            width: 100%;
            border-bottom: 1px solid $grey-lighten;
        }

        @include media("<tablet") {
            padding: 16px;
        }
    }

    &__close {
        display: block;

        @include media("<laptop") {
            width: 22px;
            height: 22px;
            position: relative;

            &:before,
            &:after {
                position: absolute;
                content: '';
                top: -1px;
                left: 1px;
                width: 28px;
                height: 3px;
                background: $grey;
                transform: rotate(45deg);
                transform-origin: 0 2px;
                border-radius: 2px;
            }

            &:after {
                top: auto;
                bottom: 0;
                left: 2px;
                transform: rotate(-45deg);
            }
        }
    }
}
