.search-results {
    &__stats {
        margin: 0 0 28px;

        @include media("<tablet") {
            margin: 0 0 20px;
        }

        .ais-Stats-text {
            display: block;
        }
    }

    &__main {
        @include media("<tablet") {
            margin: 0 0 25px;
        }
    }

    &__details {
        display: block;
        color: $grey;
        font-size: 16px;
        line-height: 1.25;
        font-weight: 500;

        &-mark {
            color: $darkest;
        }
    }

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;

        &-item {
            margin: 0 0 35px;

            @include media("<tablet") {
                margin: 0 0 15px;
            }
        }
    }

    &__item {
        color: $grey-dark;
        font-size: 16px;
        line-height: 28px;
        font-weight: 500;
        &-title {
            font-size: 20px;
            line-height: 28px;
            font-weight: 800;
            margin: 0 0 8px;
            word-wrap: break-word;
        }
        &-content {
            overflow: hidden;
            max-height: 56px;
            p {
                margin: 0;
            }
        }

        mark {
            color: currentColor;
            background: $red-lightest;
        }
    }

    &__empty {
        display: block;
        text-align: center;
        padding: 20px 0 0;

        &-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto 24px;
            background: $grey-lightest;
            width: 70px;
            height: 70px;
            border-radius: 4px;
            font-size: 20px;
            color: $grey;
        }
        &-title {
            display: block;
            font-size: 16px;
            line-height: 28px;
            font-weight: 800;
            margin: 0 0 8px;
            color: $grey-darker;
        }
        &-subtitle {
            display: block;
            font-size: 16px;
            line-height: 28px;
            font-weight: 500;
            margin: 0 0 8px;
            color: $grey;
            letter-spacing: .05em;
        }
    }
}
