.algolia-autocomplete {
    display: block !important;
}

.aa-dropdown-menu {
    width: 100%;
    margin: 8px 0 0;
    border-radius: 4px;
    border: 1px solid $grey-lighten;
    box-shadow: 0px 20px 30px 0px rgba($black, 0.03),
    0px 3px 8px 0px rgba($black, 0.02);
    color: $grey-darker;
    background: $white;

    .dropdown-menu--dark & {
        @include media(">=tablet") {
            color: $grey-2;
            background: $darkest;
            border-color: $grey-darker;
        }
    }

    .ais-Highlight {
        color: $red;
        font-style: normal;
    }

    [class*="aa-dataset-"] {
        padding: 14px 24px 10px;
        border-top: 1px solid $grey-lighten;
        font-size: 16px;
        line-height: 28px;
        font-weight: 500;

        .dropdown-menu--dark & {
            @include media(">=tablet") {
                border-top-color: $grey-darker;
            }
        }

        &:first-child {
            border: 0;
        }

        .aa-suggestion {
            margin: 0 0 8px;
        }
    }

    &__title {
        text-transform: uppercase;
        font-size: 10px;
        line-height: 14px;
        letter-spacing: .05em;
        font-weight: 800;
        margin: 0 0 10px;
    }

    a {
        text-decoration: none;
        color: $grey-darker;
        transition: color .2s linear;

        .dropdown-menu--dark & {
            @include media(">=tablet") {
                color: $grey;
            }
        }

        &:hover,
        &:focus,
        &:active {
            text-decoration: none;
            color: $darkest;

            .dropdown-menu--dark & {
                @include media(">=tablet") {
                    color: $grey-lighten;
                }
            }
        }
    }

    &__empty {
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        font-size: 10px;
        line-height: 1.5;
        font-weight: 800;
        letter-spacing: .03em;
        padding: 10px 0 20px;

        [class*="icon-"] {
            font-size: 16px;
            margin: 0 10px 0 0;
            color: $grey-darker;

            .dropdown-menu--dark & {
                @include media(">=tablet") {
                    color: $grey-2;
                }
            }
        }
    }
}
