.sidebar-nav {
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
    padding: 0;
    margin: 0;
    list-style: none;

    $sel: 'ul';
    @for $i from 0 through 5 {
        $sel: if($i == 0, "ul", selector-nest($sel, "ul"));

        #{$sel} {
            .sidebar-nav {
                &__opener {
                    padding-left: 68px + 16px * $i;

                    &--small {
                        left: 32px + 16px * $i;
                    }
                }

                &__link {
                    padding-left: 52px + 16px * $i;

                    &--shifted {
                        padding-left: 68px + 16px * $i;
                        font-weight: bold;
                    }
                }
            }

            [class*=icon-] {
                left: 28px + 16px * $i;
            }
        }
    }

    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: none;
    }

    li {
        position: relative;
    }

    &__link {
        color: $dark-2;
        display: block;
        border-left: 4px solid transparent;
        padding: 9px 10px 9px 52px;
        position: relative;
        word-break: break-word;

        &:hover {
            background: $grey-lighten;
            text-decoration: none;
        }
    }

    .active {
        & > .sidebar-nav__link {
            border-left-color: $red;
            background: $grey-lighten;
        }

        & > .sidebar-nav__opener {
            [class*="icon-"] {
                transform: rotate(90deg);
            }
        }

        ul {
            .sidebar-nav__link {
                border-left-color: transparent;
            }
        }
    }

    &__opener {
        color: $dark-2;
        display: block;
        padding: 9px 10px 9px 52px;
        text-decoration: none;
        display: flex;
        position: relative;
        border-left: 4px solid transparent;

        &:hover {
            text-decoration: none;
            background: $grey-lighten;
            [class*="icon-"] {
                background: $grey-lighten;
            }
        }

        [class*="icon-"] {
            display: block;
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background .3s linear;
            border-radius: 2px;
            font-size: 10px;
            color: $grey;
            margin: 0 16px 0 0;
            flex: none;
            position: absolute;
            z-index: 2;
            top: 8px;
            left: 12px;
        }

        &--small {
            position: absolute;
            top: 8px;
            z-index: 2;
            left: 16px;
            padding: 0 !important;
            border: 0;
            margin: 0;
            border-radius: 2px;

            &:hover {
                background: rgba(0,0,0,.15);
            }

            .sidebar-nav__title {
                display: none;
            }

            [class*="icon-"] {
                margin: 0;
                position: static;
                background: none !important;
            }
        }
    }

    &__title {
        flex: 1 1 auto;
        display: block;
        word-break: break-word;
    }
}
