.tag {
    &-list {
        display: flex;
        flex-wrap: wrap;
    }

    &-item {
        color: $grey-2;
        margin: 0 8px 8px 0;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            box-shadow: none;
        }
    }
}
