{% info_block warningBox "Verification" %}

Make sure the following changes have been applied in transfer objects:

| TRANSFER | TYPE | EVENT | PATH |
|-|-|-|-|
|  |  |  |  |
|  |  |  |  |

{% endinfo_block %}
