@mixin placeholder {
    &::-webkit-input-placeholder { @content; }
    &::-moz-placeholder { opacity: 1; @content; }
    &:-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &.placeholder { @content; }
}
