.home-layout {
    background: $grey-lightest;

    @include media("<tablet") {
        background: $white;
    }
}

.home-section {
    padding: 2rem 0;

    @include media("<desktop") {
        padding: 2rem 0;
    }

    @include media("<tablet") {
        padding: 1rem 0;
    }
}
