<!DOCTYPE html>
<html lang="en">
<head>
    {% include gtm1.html %}

    {% include head.html %}
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    {% if page.datatable == true %}
    <!-- Include the standard DataTables bits -->
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>
    <!-- First, this walks through the tables that occur between ...-begin
         and ...-end and add the "datatable" class to them.
         Then it invokes DataTable's standard initializer
         Credit here: http://www.beardedhacker.com/blog/2015/08/28/add-class-attribute-to-markdown-table/
      -->
    <script>
      $(document).ready(function(){
          $('div.datatable-begin').nextUntil('div.datatable-end', 'table').addClass('display');
          $('table.display').DataTable( {
              paging: true,
              stateSave: true,
              searching: true
          });
       });
    </script>
    {% endif %}
</head>
<body class="{{page.layout}}-layout">
    {% include gtm2.html %}

<div class="page-wrapper">
    {% include topnav.html %}
    <!-- Page Content -->
    {{content}}
        <!-- id="tg-sb-content" -->
    {% include footer.html %}

    {% include google_analytics.html %}

    <script>
        (function () {
            var hostname = window.location.hostname;
            var allowedHosts = ['docs.spryker.com', 'localhost', '0.0.0.0'];
            var isAllowed = allowedHosts.indexOf(hostname) !== -1 || hostname.endsWith('.netlify.app');
            if (!isAllowed) {
                return;
            }
            var script = document.createElement('script');
            script.src = 'https://context7.com/widget.js';
            script.setAttribute('data-library', '/spryker/spryker-docs');
            script.setAttribute('data-color', '#1ebea0');
            script.setAttribute('data-position', 'bottom-right');
            script.setAttribute('data-placeholder', 'Ask about Spryker...');
            document.body.appendChild(script);
        })();
    </script>
</div>
</body>
</html>
