<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
    <meta name="robots" content="noindex, nofollow">
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    {% if page.datatable == true %}
    <!-- Include the standard DataTables bits -->
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>
    <!-- First, this walks through the tables that occur between ...-begin
         and ...-end and add the "datatable" class to them.
         Then it invokes DataTable's standard initializer
         Credit here: http://www.beardedhacker.com/blog/2015/08/28/add-class-attribute-to-markdown-table/
      -->
    <script>
      $(document).ready(function(){
          $('div.datatable-begin').nextUntil('div.datatable-end', 'table').addClass('display');
          $('table.display').DataTable( {
              paging: true,
              stateSave: true,
              searching: true
          });
       });
    </script>
    {% endif %}
</head>
<body class="{{page.layout}}-layout">
<div style="border-bottom: 1px solid #ccc; padding: 5px 0; text-align: center; font-size: 14px; background: #f9f9f9;">
  Your custom header message here
</div>  
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KLNNSNV" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="page-wrapper">
    {% include topnav.html %}
    <!-- Page Content -->
    {{content}}
        <!-- id="tg-sb-content" -->
    {% include footer.html %}
    {% if site.google_analytics %}
    {% include google_analytics.html %}
    {% endif %}
</div>
</body>
</html>

