---
layout: default
---

<div class="page-content">
    <section class="search-section">
        <div class="container">
            <h1 class="search-section__title">
                Welcome to the Spryker <br />docs archive
            </h1>

            <div class="search-section-panel">
                {% include search/{{ site.search | default "default" }}-quicksearch.html %}
            </div>
        </div>
    </section>

    <section class="home-section">
        <div class="container">
            <div class="cards-block">
                <div class="card">
                    <div class="card__content">
                        <div class="card__heading">
                            <i class="card__heading-icon icon-developer"></i>
                            <h2 class="card__heading-title">Developer guides</h2>
                        </div>
                        <p>Developer guides are intended for backend developers, frontend developers, and devOps engineers. They cover all the technical aspects of the Spryker products and will help you to improve your understanding of the system, install your Spryker project, and customize it to your needs.</p>
                    </div>
                    <div class="card__footer">
                        <ul class="card__links">
                            <li><a href="/docs/dg/dev/set-up-spryker-locally/quickstart-guides-install-spryker/quickstart-guides-install-spryker.html">Quick installation guides</a></li>
                            <li><a href="/docs/dg/dev/development-getting-started-guide.html">Development guides</a></li>
                            <li><a href="/docs/pbc/all/pbc.html">PBC guides</a></li>
                        </ul>
                    </div>
                </div>

                <div class="card">
                    <div class="card__content">
                        <div class="card__heading">
                            <i class="card__heading-icon icon-business"></i>
                            <h2 class="card__heading-title">Business User guides</h2>
                        </div>
                        <p>Business User guides will help shop administrators and shop owners manage their stores from the shop administration area or the Back Office.</p>
                    </div>
                    <div class="card__footer">
                        <ul class="card__links">
                            <li><a href="/docs/about/all/about-spryker.html">About Spryker</a></li>
                        </ul>
                    </div>
                </div>

                <div class="card">
                    <div class="card__content">
                        <div class="card__heading">
                            <i class="card__heading-icon icon-cloud"></i>
                            <h2 class="card__heading-title">Cloud Admin guides</h2>
                        </div>
                        <p>Cloud Admin guides will help you to manage and upgrade your cloud applications.</p>
                    </div>
                    <div class="card__footer">
                        <ul class="card__links">
                            <li><a href="/docs/ca/dev/getting-started-with-cloud-administration.html">Manage cloud applications</a></li>
                            <li><a href="/docs/ca/devscu/spryker-code-upgrader.html">Upgrade cloud applications</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
