---
layout: default
---

<div class="page-content">
    <section class="search-section">
        <div class="container">
            <h1 class="search-section__title">
                Welcome to the Spryker <br />documentation center
            </h1>

            <div class="search-section-panel">
                {% include search/{{ site.search | default "default" }}_quicksearch.html %}
            </div>
        </div>
    </section>

    <section class="home-section">
        <div class="container">
            <div class="cards-block">
                <div class="card">
                    <div class="card__content">
                        <div class="card__heading">
                            <i class="card__heading-icon icon-developer"></i>
                            <h2 class="card__heading-title">Developer guides</h2>
                        </div>
                        <p>Developer guides are intended for backend developers, frontend developers, and devOps engineers. They cover all the technical aspects of the Spryker products and will help you to improve your understanding of the system, install your Spryker project, and customize it to your needs.</p>
                    </div>
                    <div class="card__footer">
                        <ul class="card__links">
                            <li><a href="/docs/scos/dev/set-up-spryker-locally/quickstart-guides-install-spryker/quickstart-guides-install-spryker.html">Quick installation guides</a></li>
                            <li><a href="/docs/scos/dev/developer-getting-started-guide.html">SCOS developer guides</a></li>
                            <li><a href="/docs/sdk/dev/spryker-sdk.html">Spryker SDK developer guides</a></li>
                            <li><a href="/docs/scu/dev/spryker-code-upgrader.html">Spryker Code Upgrader developer guides</a></li>
                            <li><a href="/docs/pbc/all/pbc.html">PBC guides</a></li>
                        </ul>
                    </div>
                </div>

                <div class="card">
                    <div class="card__content">
                        <div class="card__heading">
                            <i class="card__heading-icon icon-business"></i>
                            <h2 class="card__heading-title">Business User guides</h2>
                        </div>
                        <p>Business User guides will help shop administrators and shop owners manage their stores from the shop administration area or the Back Office.</p>
                    </div>
                    <div class="card__footer">
                        <ul class="card__links">
                            <li><a href="/docs/scos/user/intro-to-spryker/intro-to-spryker.html">SCOS user guides</a></li>
                            <li><a href="/docs/acp/user/intro-to-acp/acp-overview.html">App Composition Platform user guides</a></li>
                        </ul>
                    </div>
                </div>

                <div class="card">
                    <div class="card__content">
                        <div class="card__heading">
                            <i class="card__heading-icon icon-cloud"></i>
                            <h2 class="card__heading-title">Cloud Admin guides</h2>
                        </div>
                        <p>Cloud Admin guides will help you to mange your cloud environments.</p>
                    </div>
                    <div class="card__footer">
                        <ul class="card__links">
                            <li><a href="/docs/ca/dev/getting-started-with-cloud-administration.html">Cloud administration</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
