---
layout: default
---

<div class="page-content">
    <section class="search-section">
        <div class="container">
            <h1 class="search-section__title">Welcome to the Spryker <br>documentation center</h1>
            <div class="fake-input js-home-search">
                <div class="fake-input__icon icon-search"></div>
                <div class="fake-input__placeholder js-search-popup-opener">Search documentation</div>
            </div>
            <div class="search-popup">
                <div class="search-popup__inner">
                    <div class="search-popup__content">
                        <a href="#" class="search-popup__close js-search-popup-close"><i class="icon-arrow-left"></i></a>
                        <div class="search-section__panel dropdown-menu dropdown-menu--dark">
                            <i class="search-section__panel-icon icon-search"></i>
                            {% include search/{{ site.search | default "default" }}_quicksearch.html %}
                        </div>
                    </div>
                    <div class="search-popup__footer">
                        <a href="/search" class="search-popup__more">Show all results</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="home-section">
        <div class="container">
            <div class="cards-block">
                <div class="card">
                    <div class="card__content">
                        <div class="card__heading">
                            <i class="card__heading-icon icon-developer"></i>
                            <h2 class="card__heading-title">Developer guides</h2>
                        </div>
                        <p>Developer guides are intended for backend developers, frontend developers, and devOps engineers. They cover all the technical aspects of the Spryker products and will help you to improve your understanding of the system, install your Spryker project, and customize it to your needs.</p>
                    </div>
                    <div class="card__footer">
                        <ul class="card__links">
                            <li><a href="/docs/scos/dev/developer-getting-started-guide.html">SCOS developer guides</a></li>
                            <li><a href="/docs/marketplace/dev/setup/system-requirements.html">Marketplace developer guides</a></li>
                            <li><a href="/docs/fes/dev/front-end-enablement-service.html">FeS developer guides</a></li>
                            <!-- <li><a href="/docs/paas-plus/dev/setup/system-requirements.html">Platform as a Service Plus developer guides</a></li> -->
                        </ul>
                    </div>
                </div>

                <div class="card">
                    <div class="card__content">
                        <div class="card__heading">
                            <i class="card__heading-icon icon-business"></i>
                            <h2 class="card__heading-title">Business User guides</h2>
                        </div>
                        <p>Business User guides will help shop administrators and shop owners manage their stores from the shop administration area or the Back Office.</p>
                    </div>
                    <div class="card__footer">
                        <ul class="card__links">
                            <li><a href="/docs/scos/user/intro-to-spryker/about-spryker.html">SCOS user guides</a></li>
                            <li><a href="/docs/marketplace/user/intro-to-the-spryker-marketplace/marketplace-concept.html">Marketplace user guides</a></li>
                        </ul>
                    </div>
                </div>

                <div class="card">
                    <div class="card__content">
                        <div class="card__heading">
                            <i class="card__heading-icon icon-cloud"></i>
                            <h2 class="card__heading-title">Cloud Engineer guides</h2>
                        </div>
                        <p>Cloud Engineer guides will help you to develop with the Spryker Cloud Commerce OS (SCCOS). After the initial setup of your SCCOS project, use the documentation as step-by-step instructions on how to go live.</p>
                    </div>
                    <div class="card__footer">
                        <ul class="card__links">
                            <li><a href="/docs/cloud/dev/spryker-cloud-commerce-os/getting-started-with-the-spryker-cloud-commerce-os.html">SCCOS Engineer guides</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
