---
layout: default_print
comments: true
---
<div class="post-header">
    <h1 class="post-title-main" id="{{page.permalink | replace: '/', '' }}">{{ page.title }} {% if page.label == "early-access" %}{% assign label_link = page.label_url | default: site.data.labels[page.label] %}{% if label_link %}<a href="{{ label_link }}" class="label-link"><span class="inline-img"><img src="https://spryker.s3.eu-central-1.amazonaws.com/docs/scos/user/intro-to-spryker/releases/release-notes/early-access.png" alt="early-access" /></span></a>{% else %}<span class="inline-img"><img src="https://spryker.s3.eu-central-1.amazonaws.com/docs/scos/user/intro-to-spryker/releases/release-notes/early-access.png" alt="early-access" /></span>{% endif %}{% endif %}</h1>
</div>

<div class="post-content">

    {% if page.summary %}
    <div class="summary">{{page.summary}}</div>
    {% endif %}
    {{ content }}
</div>
