---
layout: default
---

{% if page.simple_map == true %}

<script>
    $(document).ready ( function(){
        $('.box{{page.box_number}}').addClass('active');
    });
</script>

{% include custom/{{page.map_name}}.html %}

{% elsif page.complex_map == true %}

<script>
    $(document).ready ( function(){
        $('.modalButton{{page.box_number}}').addClass('active');
    });
</script>

{% include custom/{{page.map_name}}.html %}

{% endif %}

<div class="page-content page-content--post">

    <aside class="main-sidebar">
        <h3 class="main-sidebar__title tablet-show" data-toc-skip>{{ site.data.sidebars[page.sidebar].title }}</h3>
        <a href="#" class="main-sidebar__opener tablet-hidden js-main-sidebar-switcher">
            <span class="main-sidebar__opener-decorator"></span>
            <span class="main-sidebar__opener-decorator"></span>
            <span class="main-sidebar__opener-decorator"></span>
        </a>
        <a href="#" class="main-sidebar__opener tablet-show js-main-sidebar-opener">
            <span class="main-sidebar__opener-decorator"></span>
            <span class="main-sidebar__opener-decorator"></span>
            <span class="main-sidebar__opener-decorator"></span>
        </a>
        <div class="main-sidebar__popup">
            <div class="main-sidebar__inner">
                <div class="main-sidebar__header">
                    <a href="#" class="main-sidebar__close"></a>
                </div>
                <div class="main-sidebar__slide">
                    <h3 class="main-sidebar__title" data-toc-skip>{{ site.data.sidebars[page.sidebar].title }}</h3>

                    {% unless page.hide_sidebar %}
                        <div id="tg-sb-sidebar">
                            {% include sidebar.html %}
                        </div>
                    {% endunless %}
                </div>
            </div>
        </div>
    </aside>
    <div class="post-content">
        <div class="post-header">
            <h1 class="post-header__title">{{ page.title }}</h1>

            <div class="post-meta">Last updated: <time datetime="">20.05.2021</time></div>

            {% if site.github_editme_path %}
                <a target="_blank" rel="noopener" href="https://github.com/{{site.github_editme_path}}{{page.path}}" class="button post-header__button button--small" role="button"><i class="icon-github"></i> Edit on GitHub</a>
            {% endif %}
        </div>

        {% if page.summary %}
            <div class="summary">{{page.summary}}</div>
        {% endif %}

        {{content}}

        {% if page.tags != null %}
            <div class="tag-list">
                {% assign projectTags = site.data.tags.allowed-tags %}
                {% for tag in page.tags %}
                    {% if projectTags contains tag %}
                        <a href="{{ "tag_" | append: tag | append: ".html" }}" class="button button--xs tag-item" role="button">{{page.tagName}}{{tag}}</a>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}

        <aside class="form-collapse">
            <div class="confirm-block">
                <strong class="confirm-block__title">
                    Was this article helpful?
                </strong>
                <div class="confirm-block__buttons">
                    <a href="#" class="button confirm-block__button button--black js-form-collapse__opener">No</a>
                    <a href="#" class="button confirm-block__button button--red js-form-collapse__opener">Yes</a>
                </div>
            </div>

            <div class="js-form-collapse__slide">
                <form class="feedback-form">
                    <h3 class="feedback-form__title" data-toc-skip>Please provide feedback</h3>
                    <div class="feedback-form__block">
                        <div class="feedback-form__column">
                            <input type="text" placeholder="Name (Optional)" class="feedback-form__input">
                        </div>
                        <div class="feedback-form__column">
                            <input type="email" placeholder="Email (Optional)" class="feedback-form__input">
                        </div>
                        <div class="feedback-form__column feedback-form__column--full">
                            <textarea placeholder="Any additional feedback?" class="feedback-form__textarea"></textarea>
                        </div>
                    </div>
                    <div class="feedback-form__action-row">
                        <input type="submit" value="Submit" class="feedback-form__submit button button--red">
                    </div>
                    <div class="feedback-form__action-row">
                        <a href="#" class="feedback-form__link js-form-collapse__close">Skip</a>
                    </div>
                </form>
            </div>
        </aside>

        <aside class="related">
            <h3 class="related__title" data-toc-skip>Related articles</h3>
            <a href="#" class="related__link">
                <i class="icon-article related__link-icon"></i>
                <span class="related__link-text">Building a return management process: Best practices</span>
            </a>
            <a href="#" class="related__link">
                <i class="icon-article related__link-icon"></i>
                <span class="related__link-text">Building a return management process: Best practices</span>
            </a>
            <a href="#" class="related__link">
                <i class="icon-article related__link-icon"></i>
                <span class="related__link-text">Shop Guide - Creating a Return very very long title text Shop Guide - Creating a Return very very long title text</span>
            </a>
        </aside>

        {% include commento.html %}
    </div>

    <aside class="alt-sidebar">
        <div class="alt-sidebar__sticky">
            {% include version_selector.html %}

            {% unless page.toc == false %}
                {% include toc.html %}
            {% endunless %}

            {% if page.tags != null %}
                <div class="tag-list desktop-hidden">
                    {% assign projectTags = site.data.tags.allowed-tags %}
                    {% for tag in page.tags %}
                        {% if projectTags contains tag %}
                            <a href="{{ "tag_" | append: tag | append: ".html" }}" class="button button--xs tag-item" role="button">{{page.tagName}}{{tag}}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </aside>
</div>
