---
layout: default
---

{% if page.simple_map == true %}

<script>
    $(document).ready ( function(){
        $('.box{{page.box_number}}').addClass('active');
    });
</script>

{% include custom/{{page.map_name}}.html %}

{% elsif page.complex_map == true %}

<script>
    $(document).ready ( function(){
        $('.modalButton{{page.box_number}}').addClass('active');
    });
</script>

{% include custom/{{page.map_name}}.html %}

{% endif %}

<div class="page-content page-content--post">

    <aside class="main-sidebar">
        <a href="#" class="main-sidebar__opener">
            <span class="main-sidebar__opener-decorator"></span>
            <span class="main-sidebar__opener-decorator"></span>
            <span class="main-sidebar__opener-decorator"></span>
        </a>
        <div class="main-sidebar__inner">
            <div class="main-sidebar__slide">
                <h3 class="main-sidebar__title">Marketplace Developer Guide</h3>

                {% unless page.hide_sidebar %}
                    <div id="tg-sb-sidebar">
                        {% include sidebar.html %}
                    </div>
                {% endunless %}
            </div>
        </div>
    </aside>
    <div class="post-content" data-spy="scroll" data-target="#toc">
        <div class="post-header">
            <h1 class="post-header__title">{{ page.title }}</h1>

            {% if site.github_editme_path %}
                <a target="_blank" rel="noopener" href="https://github.com/{{site.github_editme_path}}{{page.path}}" class="button post-header__button button--small" role="button"><i class="icon-github"></i> Edit on GitHub</a>
            {% endif %}
        </div>

        {% if page.summary %}
            <div class="summary">{{page.summary}}</div>
        {% endif %}

        {{content}}

        <aside class="form-collapse">
            <div class="confirm-block">
                <strong class="confirm-block__title">
                    Was this article helpful?
                </strong>
                <div class="confirm-block__buttons">
                    <a href="#" class="button confirm-block__button button--black form-collapse__opener" data-feedback="no">No</a>
                    <a href="#" class="button confirm-block__button button--red form-collapse__opener" data-feedback="yes">Yes</a>
                </div>
            </div>

            <div class="form-collapse__slide">
                <form class="feedback-form">
                    <h3 class="feedback-form__title" data-toc-skip>Please provide feedback</h3>
                    <div class="feedback-form__block">
                        <div class="feedback-form__column">
                            <input type="text" placeholder="Name (Optional)" class="feedback-form__input">
                        </div>
                        <div class="feedback-form__column">
                            <input type="email" placeholder="Email (Optional)" class="feedback-form__input">
                        </div>
                        <div class="feedback-form__column feedback-form__column--full">
                            <textarea placeholder="Any additional feedback?" class="feedback-form__textarea"></textarea>
                        </div>
                    </div>
                    <div class="feedback-form__submit-row">
                        <input type="submit" value="Submit" class="feedback-form__submit button button--red">
                    </div>
                    <div class="feedback-form__submit-row">
                        <a href="#" class="feedback-form__link form-collapse__close">Skip</a>
                    </div>
                </form>
            </div>
        </aside>

        <div class="tags">
            {% if page.tags != null %}
            <b>Tags: </b>
            {% assign projectTags = site.data.tags.allowed-tags %}
            {% for tag in page.tags %}
            {% if projectTags contains tag %}
            <a href="{{ "tag_" | append: tag | append: ".html" }}" class="button button--small cursorNorm" role="button">{{page.tagName}}{{tag}}</a>
            {% endif %}
            {% endfor %}
            {% endif %}
        </div>

        {% include commento.html %}
    </div>

    <aside class="alt-sidebar">
        <div class="alt-sidebar__sticky">
            <div class="alt-nav">
                <span class="alt-nav__opener">This document has only one version 202009.0</span>
                <span class="alt-nav__opener-label">Versions</span>
                <ul class="alt-nav__drop">
                    <li><a href="#">version 1</a></li>
                    <li><a href="#">version 2</a></li>
                    <li><a href="#">version 3</a></li>
                </ul>
            </div>

            {% unless page.toc == false %}
                {% include toc.html %}
            {% endunless %}
        </div>
    </aside>
</div>
